@font-face {
    font-family: 'Track';
	src: url('../fonts/Track.otf');
}
/*NO CLASS*/
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

body, html{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	font-family: 'Lato', sans-serif;
	color:#fba026;
	background: #444;
}
/*NO CLASS*/

.screen{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	display: none;
}

#main_container{
	background:#666;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
	height: 100%;
	position: relative;
}

/*MAIN SCREEN*/
#main_screen #main_menu{
	width: 100%;
	position: absolute;
	z-index: 5;
	text-align: center;
	margin-top: 10px;
}	

#main_screen #main_menu a{
	color:#fff;
	display: inline;
	font-size: 30px;
	margin: 0 10px;
	cursor: pointer;
	transition: all .2s;
	position: relative;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#main_screen #main_menu a:hover{
}

#main_screen #main_menu a:active{
	color: #0076b3;
}

#openFile{
	width:30px;
	height:30px;
	position: absolute;
	top:5px;
	left:0;
	opacity:0;
}

.loadFile{
	cursor:pointer;
}

#canvas{
	display:none;
	position:absolute;
}

#video{
	position:absolute;
}


#main_screen #treshold_slider,
#main_screen #size_slider {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

#main_screen #size_slider{
	position: absolute;
	top: 50%;
	left: -150px;
	width:350px;
}

#main_screen #treshold_slider{
	position: absolute;
	top: 50%;
	width:350px;
	right: -150px;
}

#main_screen #btn_capture{
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -22px;
	background: #fff;
	padding: 5px;
	border-radius: 40%;
	cursor: pointer;
}

#main_screen #btn_capture span{
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 40%;
	border: 3px solid #000;
	background:#fff;
}	

#error_fallback{
	display: block;
	position:absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	font-family: Track;
}

#checks_menu{
	width: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	text-align: center;
}

#checks_menu a{
	font-size: 30px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

#checks_menu  #btn_wrong{
	background:#d14841;
}

#checks_menu  #btn_tooMany,
#checks_menu  #box_quantity{
	font-family: 'Track';
	font-size: 24px;
	background: #fac51c;
}

#checks_menu  #btn_right{
	background:#00a885;
}

#checks_menu  .selected{
	border-top: 5px solid #fac51c;
}
/*MAIN SCREEN*/

/*INITIAL SCREEN*/
#initial_screen{	
	background: #00aaff;
	text-align: center;
}

#initial_screen .container{
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#initial_screen h1{
	color:#fff;
    font-family: 'Track';
	font-size: 50px;
}

#initial_screen img{
	position: absolute;
	left: 50%;
	top:50%;
}

#initial_screen #top_logo{
	position: absolute;
	top:50%;
	width:100%;
}

#initial_screen #bot_logo{
	position: absolute;
	top:50%;
	width:100%;
}
/*INITIAL SCREEN*/



/*MEDIA SCREEN*/
@media screen and (max-height: 340px) {
	#initial_screen #top_logo{
		margin-top: -135px;
	}
	#initial_screen #bot_logo{
		margin-top: 100px;
	}
	#initial_screen img{
		width: 400px;
		margin-left: -95px;
		margin-top: -75px;
	}
}

@media screen and (max-width: 600px) and (min-height: 340px) {
	#initial_screen #top_logo{
		margin-top: -160px;
	}
	#initial_screen #bot_logo{
		margin-top: 120px;
	}
	#initial_screen img{
		width: 400px;
		margin-left: -95px;
		margin-top: -85px;
	}
}

@media screen and (max-height: 600px) and (min-height: 340px){
	#initial_screen #top_logo{
		margin-top: -160px;
	}
	#initial_screen #bot_logo{
		margin-top: 120px;
	}
	#initial_screen img{
		width: 400px;
		margin-left: -95px;
		margin-top: -85px;
	}
}

@media screen and (min-width: 600px) and (min-height: 600px) {
	#initial_screen #top_logo{
		margin-top: -280px;
	}
	#initial_screen #bot_logo{
		margin-top: 220px;
	}
	#initial_screen img{
		width: 800px;
		margin-left: -175px;
		margin-top: -182px;
	}
}
/*MEDIA SCREEN*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26), 0px 0px 1px rgba(13, 13, 13, 0.26);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 0px;
  border: 0.1px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  border: 2.1px solid rgba(100, 100, 100, 0.25);
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.01);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26), 0px 0px 1px rgba(13, 13, 13, 0.26);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 0px;
  border: 0.1px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  border: 2.1px solid rgba(100, 100, 100, 0.25);
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0.01);
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26), 0px 0px 1px rgba(13, 13, 13, 0.26);
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.01);
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26), 0px 0px 1px rgba(13, 13, 13, 0.26);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  border: 2.1px solid rgba(100, 100, 100, 0.25);
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
  height: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.01);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.01);
}

